//Variable Colores
alizarin = #c0392b
sunflower = #f1c40f
clouds = #ecf0f1
clouds-customize = #C4CCCF
orange = #f39c12
silver = #bdc3c7
asbestos = #7f8c8d
carrot = #e67e22
pumpkin = #d35400

//Variables Unidades
cuatro = 4em

body
	font-family 'Open Sans', sans-serif
	
p, h1, h2, h3, h4, h5, h6
	margin 0
	padding 0
	
.lasted-subtitle
	font-weight 900
	font-size 1.4em


