.navbar-default
	padding 1em 0
	background-color #000
	border-color rgba(231, 231, 231, 0)
	
.navbar-default .navbar-nav>li>a
	color clouds-customize
	font-weight bold
	font-size 15px
	padding-left 1.5em
	padding-right 1.5em
	
.navbar
	margin-bottom 0
	
.btn-sm
	border-radius 2px
	font-weight bold
	
.form-control
	border-radius 50px
	border-right 0px

.panel
	border 2px solid #ddd
	margin-bottom 12px

.panel-heading
	padding 3px 15px
	border 0