
//Colores para botones
.btn-alizarin
	background-color alizarin

.btn-orange
	background-color orange
	
//Clases para colores de texto
.color-white
	color white

.color-asbestos
	color asbestos

.color-silver
	color silver

.color-carrot
	color carrot

//theme
#header
	background url('../img/yoga-alliance.jpg') center
	background-size cover
	height 400px



